/* Main Variables */
:root {
    --font-size: 1.5rem;
    --font-color: white;
    --background-color: #121111;
    --font-family: sans-serif;
    --sec-color: gray;
    --max-width: 1000px;
    --terc-color: #0072ff;
    --terc-color-2: #194d8d;
}
* {
    margin: 0;
    box-sizing: border-box;
}

.sec-color {
    background-color: gray;
    min-width:10px;
    min-height: 10px;
}
.flex {
    display:flex;
    justify-content: space-between;
}
.hidden {
    display:none;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    background-color: var(--background-color);
}

/* Header */

.nav-container {
    padding: 2rem;
    max-width: var(--max-width);
    margin:auto;
    justify-content: center;
}
nav a {
    font-size: calc(var(--font-size) * 0.75);
    align-items: flex-end;
    border-style: solid;
    border-color: transparent;
    border-width: 0 0 2px 0;
    padding-bottom: 0.5rem;
    transition:0.3s ease;
}
nav a:hover {
    border-color: var(--terc-color);
    
}
.my-image {
    width: 60%;
    width:120px;
    height: 120px;
    border-radius: 300px;
    object-fit: cover;
}
.links {
    gap: 1rem;
}



/* Main */

.info-container {
    flex-direction: column;
    /*grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);*/
    margin:auto;
    max-width: var(--max-width);
    padding:1rem;
    gap:1rem;
}
.my-image {
    animation: sliding 2s ease-in-out infinite alternate;}
.my-image-head {
    flex-direction: column;
    gap:1rem;
}
.main-image {
    flex-direction: column;
    align-items: center;;
    justify-content: space-evenly;
    text-align: center;
    gap: 1rem;
}
.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(var(--font-size) * 1.4);
}

.subtitle, .desc {
    font-size: calc(var(--font-size) * 0.75);
    text-align: center;
}
.desc {
    text-align: left;
}

@media (max-width:460px){
    :root {
        --font-size: 1rem;
    }
    nav {
        padding:1rem;
    }
    .main-image {
    grid-row: 1/3;
    
    
}
    .main-image-comp {
    grid-column: 2/4
}
    .main-button {
        width: 100%;
    }
}
.main-button {
    
    
    height: 45px;
    font-size: calc(var(--font-size) * 0.8);
    color: var(--font-color);
    background: var(--terc-color);
    border: 2px solid var(--background-color);
    border-radius:8px;
    transition:0.3s;
    animation:  1s ease-in-out infinite alternate;
}
.main-button:hover {
    transform: scale(110%);
    background-color: var(--terc-color);
}
@media (min-width: 460px){
    .title, .subtitle, .desc {
        text-align: left;
    }
    .my-image{
        width:200px;
        height:200px;
    }
    .main-image {
        gap:2rem;
        flex-direction:row;
        align-items: center;
        justify-items: center;
        
    }
    .desc {
        font-size: calc(var(--font-size) * 0.65);
    }
    .nav-container {
        justify-content: flex-end;
    }
    .main-button {
        max-width:200px;
        margin-top: 1rem;
    }
}
@media (min-width:1000px){
    :root {
        --font-size: 1.5rem;
    }
    .my-image {
        width:250px;
        height:250px;
    }
    .my-image-head {
        justify-content: flex-start;
    }
    .title {
        font-size: calc(var(--font-size) * 2.25);
    }
    .subtitle  {
        font-size: var(--font-size);
    }
    .desc {
        font-size: calc(var(--font-size) * 0.75)
    }
    
    
}

@keyframes sliding {
    0% {transform: translateY(5);}
    100% {transform: translateY(-5px);}
}
@keyframes shine {
    from{
  
        box-shadow: 0 0 10px var(--terc-color-2);
    }
    to {
  
        ox-shadow: 0 0 10px var(--terc-color-2);
    }
}