/* Main Variables */
:root {
    --font-size: 2.5rem;
    --font-color: white;
    --background-color: #111827;
    --background-color2: #0d121d;
    --font-family: inter, sans-serif;
    --sec-color: #0e0d0d9f;
    --max-width: 1500px;
    --terc-color: #0072ff;
    --terc-color-2: #317dda;
}
* {
    margin: 0;
    box-sizing: border-box;
}
.terc-color {
    color: var(--terc-color-2)
}
.gray {
    background-color:rgba(19, 18, 18, 0.836);
    
}
.grid {
    display: grid;
}
.red {
    background-color:red;
}

.blue {
    background-color:rgb(50, 50, 151);
}

.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}

.flex {
    display:flex;
    justify-content: space-between;
}
.hidden {
    display:none;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    background-color: var(--background-color);
}

/* Header */
header {
position: sticky;
    top:0;
    background-color: var(--background-color);
    z-index:2;
    
}
.nav-container {
    
    padding: 1rem 0 1rem;
    max-width: var(--max-width);
    margin:auto;
    justify-content: center;
}
nav a {
    font-size: calc(var(--font-size) * 0.5);
    align-items: flex-end;
    border-style: solid;
    border-color: transparent;
    border-width: 0 0 2px 0;
    padding-bottom: 0.5rem;
    transition:0.3s ease;
}
nav a:any-link, .view-source:any-link {
    color: white;
    text-decoration: none;
}
nav a:hover {
    border-color: var(--terc-color);
    
}
.my-image {
    width: 60%;
    width:160px;
    height: 100%;
    border-radius: 300px;
    object-fit: cover;
}
.links {
    gap: 1rem;
}



/* Main */
main {
    flex-direction: column;
    gap: 3rem;
}
section {
    width:95%;
}
.info-container {
    flex-direction: column;
    /*grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);*/
    margin:auto;
    max-width: var(--max-width);
    padding:1rem;
    gap:1rem;
}
.my-image {
    animation: sliding 2s ease-in-out infinite alternate;
}
    .my-image-head {
    flex-direction: column;
    gap:3rem;
}
.main-image {
    margin: 4rem 0 0;
    flex-direction: column;
    align-items: center;;
    justify-content: space-evenly;
    text-align: center;
    
}
.title {
    margin-top: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(var(--font-size) * 1.5);
}

.subtitle {
    font-size: calc(var(--font-size) * 0.85);
}
.subtitle, .desc {
    text-align: center;
}
.desc {
    font-size: calc(var(--font-size) * 0.75);
    text-align: left;
    line-height: 1.5;
    color: rgb(190, 188, 188)
}

/* SKILLS */

.section-title {
    font-size: calc(var(--font-size) * 1.25);
}
.skill-container {
    display:flex;

    width: 100%;
    gap:0.75rem;
    border-radius: 8px;
    padding: 1rem;
    border: 1px solid transparent;
    flex-direction: column;
    align-items: center;
    background-color: var(--sec-color);
    transition: 0.1s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.icons-container {
    display:flex;
    gap: 1rem;

}
.icon {
    width: 25px;
}
.skill-container:hover {
    box-shadow: 0 10px 20px rgba(0, 123, 255, 0.15); 
    border: 1px solid var(--terc-color);
    transform: translateY(-10%)
}
.skill-title {
    font-size: calc(var(--font-size) * 1);
}
.skill-grid {
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.projects-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    align-items: start;
    gap: 2rem;
}
.terminal {
    border-radius: 50px;
    animation: ease-in-out 2s infinite alternate terminal-sliding1;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
}
.section-title {
    border-bottom: 1px solid var(--terc-color);
    padding-bottom: 0.5rem;
    
}
h2 {
    margin-bottom:3rem;
}
.terminal-body{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background-color: black;
    width:100%;
    padding:0.5rem 1rem 1rem 1rem;
    border-radius: 0 0 10px 10px;
    font-size: calc(var(--font-size) * 0.9);
    height:230px;
}
.terminal-title {
    font-size: calc(var(--font-size) * 0.75);
    text-align:center;
}
.localhost {
    color: green;
}
.shell{
    color: rgb(60, 60, 168)
}
.terminal-header {
 
    font-size: calc(var(--font-size) * 0.75);
    border-radius:10px 10px 0 0;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(26, 25, 25)
}
.terminal-header > div {
    justify-content: flex-start;
    align-items:center;
    gap: 0.5rem;
    padding:0.5rem;
}

.button {
    width:10px;
    height:10px;
    border-radius:50px;
}

.view-source {
    background-color: rgb(26, 25, 25);
    padding:0.5rem;
    border-radius:8px;
    align-self: center;
    justify-self: center;
    margin-top: 0.5rem;
    transition: 0.2s
}
.view-source:hover {
    color: green;
    transform: scale(110%);
}
.main-button {
    
    padding:0.5rem;
    width:100%;
    font-size: calc(var(--font-size) * 0.8);
    color: var(--font-color);
    background: var(--terc-color);
    border: 2px solid var(--background-color);
    border-radius:8px;
    transition:0.1s;
    animation:  1s ease-in-out infinite alternate;
}
.main-button-a:any-link {
    text-decoration: none;
}

.main-button:hover {
    background-color: var(--terc-color-2);
}

.aboutme-background-container {
    font-size: calc(var(--font-size) * 0.8);
}
pre {
    white-space: pre-wrap;
    padding: 1.5rem;
    
}
.about-json {
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}
.about-json:hover {
    transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8); 
}
.json-property {
    background-color: rgb(19, 18, 18);;
    transition: 0.2s;
    border: 2px solid transparent;
}
.json-property:hover {
    border-radius: 10px;

    padding:0 0.5rem;
    transform: translateY(-20px);
    font-size: calc(var(--font-size) * 0.9);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
}

@media (max-width:460px){
    :root {
        --font-size: 1.5rem;
    }
    nav {
        padding:1rem;
    }
    .main-image {
    grid-row: 1/3;
    
    
}
    .main-image-comp {
    grid-column: 2/4
}
    .main-button {
        width: 100%;
    }
}



@media (min-width: 460px){
    .title, .subtitle, .desc {
        text-align: left;
    }
    .my-image{
        width:200px;
        height:200px;
    }
    .main-image {
        margin: 7rem 0 4rem;
        gap: 50px;
        flex-direction:row;
        align-items: center;
        justify-items: center;
        
    }
    .desc {
        font-size: calc(var(--font-size) * 0.65);
    }
    .nav-container {
        justify-content: flex-end;
    }
    .main-button {
        max-width:200px;
        margin-top: 1rem;
    }
    .main-button:hover {
        transform: scale(110%);
    }
    .icon {
        width: 35px;
    }
    .terminal-body {
        height:300px;
    }
}
@media (min-width:1000px){
    :root {
        --font-size: 2rem;
    }
    .my-image {
        width:360px;
        height:360px;
    }
    .my-image-head {
        justify-content: flex-start;
        max-width: 900px;
    }
    .title {
        font-size: calc(var(--font-size) * 2.25);
    }
    .subtitle  {
        font-size: var(--font-size);
    }
    .desc {
        font-size: calc(var(--font-size) * 0.75)
    }
    .icon {
        width: 50px;
    }
    .projects-grid {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3,1fr);
    }
    .terminal-body {
        height: 300px;
        font-size: calc(var(--font-size) * 0.65);
    }
    pre {
        padding:2rem;
    }
    
}

/* ANIMAÇÕES CSS*/

@keyframes sliding {
    0% {transform: translateY(5);}
    100% {transform: translateY(-5px);}
}

@keyframes terminal-sliding1 {
    0% {transform: translateY(0);}
    100% {transform: translateY(10px);}
}

@keyframes terminal-sliding2 {
    0% {transform: translateY(0);}
    100% {transform: translateY(-10px);}
}

@keyframes shine {
    from{
  
        box-shadow: 0 0 10px var(--terc-color-2);
    }
    to {
  
        ox-shadow: 0 0 10px var(--terc-color-2);
    }
}